!backend/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/


### BACKEND (Java / Maven) ###
backend/target/
backend/.idea/
backend/*.iml
backend/.mvn/wrapper/maven-wrapper.jar

### Frontend (Node / Angular) ###
frontend/node_modules/
frontend/dist/
frontend/out-tsc/
frontend/.angular/
frontend/.idea/
frontend/*.iml
frontend/npm-debug.log
frontend/package-lock.json


### VS Code ###
.vscode/

### IntelliJ ###
*.log
.idea/

### Mac OS ###
.DS_Store
Thumbs.db

# Maven
target/
*.class
*.jar
*.war
*.ear

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar  # on peut garder mvnw + mvnw.cmd

# Docker
staging/postgres_data/
staging/**/*.log
